#Executables
*.out

#Libraries
*.a

#Folders
/includes/*
/tests

#Object Files
*.o
/objects

#Mains
*main.c
main*.c

#dot files
*._*
._*
.*

#Misc files
Makefile
*.swp
*.txt
*.sh
origattempt.c
fdtest2.c
.nfs*
*.gch
etests/
